<section class="profile-section">
  <div class="user-info-profile">
    <img *ngIf="userHasImage" alt="img" [src]="user.image" />
    <img
      *ngIf="!userHasImage"
      alt="img"
      src="./../../../assets/images/website.png"
    />
    <h1>{{ user.full_name }}</h1>
    <h2>{{ user.email }}</h2>
    <div class="input-profile">
      <p>Name</p>
      <input value="{{ user.full_name }}" />
      <button class="nav-btn2 updateBtn">Update</button>
    </div>
  </div>
  <div class="user-articles-profile">
    <h1>My blogs</h1>
    <div *ngFor="let article of userArticlesList">
      <table class="coll-article-profile">
        <p class="td1">{{ article.title }}</p>

        <p class="td1">{{ article.read_times }} times</p>

        <p class="td1 td1-date">{{ article.updatedAt | date: "short" }}</p>

        <button class="td1 nav-btn1 deleteBtn">Delete</button>
      </table>
    </div>
  </div>
</section>
